h1 {
  color: $primary;
}

h2 {
  font-family: 'Corben', Georgia, Times, serif;
  font-size: 16px;
  color: #8AB93A;
  padding: 0px 0px 0px 10px;
}

h3 {
  font-family: 'Helvetica', sans-serif;
  font-style: thin;
  font-size: 16px;
  color: #77CCD2;
  padding: 10px 0px 0px 0px;
}
