//COLORS

$dull-pink: #F4CAD2;
$dark-teal: #76C7CD;
$light-teal: #B9E5E6;
$maroon: #6F0F49;
$light-green: #ECFAD3;
$medium-green: #8AB93A;
$purple: #71288B;
$hotpink: #EB008A;



@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }

  }
}

@media screen and (min-width: 450px) {
    figure {
        float: left;
        width: 48.5%;
        margin-left: 0%;
        margin-right: 3%;
    }
 
    figure:nth-of-type(2n) {
        float: right;
        margin-right: 0%;
    }
}

@media screen and (min-width: 450px) {
    figure {
        @include col(1/2, $cycle: 2);
    }
}
 
@media screen and (min-width: 800px) {
    figure {
        @include col(1/4, $cycle: 4, $uncycle: 2);
    }
}

