
// COLORS

$dull-pink: #F4CAD2;
$dark-teal: #76C7CD;
$light-teal: #B9E5E6;
$maroon: #6F0F49;
$light-green: #ECFAD3;
$medium-green: #8AB93A;
$purple: #71288B;
$hotpink: #EB008A;






@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }

  }
}

+
