@import "../../bower_components/jeet/scss/jeet/index";
@import "variables";
@import "headings";


body {
  background-color: #D6F1F0;
}

// Light Teal Section at Top 

.top_teal{
  @include center();
  background-color: #D6F1F0;
}

 ul {
  @include col(3/4);
  @include shift(1/8);
  text-align: right;
}

li {
  list-style: none;
  display: inline;
  font-family: "Tahoma";
  color: #5FAEB4;
}


// White Section at the Top 

.top_white {
  @include col(3/4);
  @include shift(1/8);
  @include cf();
  background-color: #fff;
  border-radius: 50px 50px 0px 0px;
  color: #D6F1F0;
}

.top_white>img {
  @include col(1/2);
}

.top_white ul {
  margin: 0px;      //TO WIPE THE AUTO-ADDED UL TOP AND BOTTOM MARGINS OF 16
}

.top_white li {
  
  list-style: none;
  display: inline;
  font-family: "Tahoma";
  color: #5FAEB4;
}

   
// Pink Nav Bar  

.pink_bar {
  @include col(8/8);
  background-color: #F5CAD2;
  margin: 0px;
}

.pink_bar ul {
  padding: 2px, 2px;
  text-align: center;
}

.pink_bar li {
  list-style: none;
  display: inline;

  padding: 2px, 10px, 2px 10px;
  margin: 0px 25px;
  font-family: 'Corben', Georgia, Times, serif;
  font-size: 12px;
  color: #6E0F47;
}


