.fm_1 {
  @include col(6/8 8/10);
  background-color: white;
  margin: 0;
  color: $medium-green;
  margin-bottom: 40px;
}

.crumb_nav {
  @include col(2/3 8/10);
  background-color: tomato;
  margin: 0;

  p {
    color: $medium-green;
  }

  .sort_by {
    background-color: white;
    float: left;
  }
}


form {
  label {
    display: block;
    color: $medium-green;
  }

  p {
  color: $medium-green;
  }

  background-color: $light-green;
  margin: 10px;
  padding: 15px;
  border-radius: 25px;

  input [type="radio"] {
    color: $medium-green;
  }
}


.nav_results {
  @include col(2/8 8/10);
  display: inline;
  float: right;
  a:link {
    color: $medium-green;
    text-decoration: none;
    padding: 5px;
  }
}

//Styles the sort options above search results

.sort_by {

  display: inline-block;

  select {
    display: inline;
  }
  margin: 0;
  padding: 0;
}


// THIS IS WHERE THE ITEM 'figure' STYLING WILL GO
// AYUMI IS WORKING ON THIS, AND WE'LL PLUG IT IN WHEN I GET THE BACKGROUND CODE STYLED











