@import "../../bower_components/jeet/scss/jeet/index";

@import "variables";
@import "headings";
@import "baseStyles";


// HEADING STYLES ARE INCLUDED IN THE BASESTYLES PARTIALS FILE.
//
// THE STYLING PORTION THAT FOLLOWS IS UNIQUE TO THIS PAGE

// THIS STYLES THE GREEN SEARCH SECTION ON THE LEFT-HAND SIDE
// IT'S CURRENTLY TAKING UP ABOUT 1/3 OF THE PARENT DIV


.bottom_white {
  @include span(8/10);   //  THIS SETS THE DIV TO TAKE UP 8 OUT OF TEN COLUMNS
  @include shift(1/10);   // THIS MOVES THE ELEMENT OVER BY ONE COLUMN
  background-color: #fff;
  border-radius: 0px 0px 50px 50px;
  padding: 0px 0px 0px 0px;

.form {
  @include col(2/8 8/10);
  label {
    display: block;
    color: $medium-green;
  }

  p {
  color: $medium-green;
  }

  background-color: $light-green;
  margin: 10px;
  padding: 15px;
  border-radius: 25px;

  input [type="radio"] {
    color: $medium-green;
  }
}


// THIS SECTION IS THE 'ALL > TWIN > B/G' SECTION ON THE TOP RIGHT


.fm_1 {
  @include col(6/8 8/10);
  background-color: white;
  margin: 0;
  color: $medium-green;
  margin-bottom: 40px;
}



.crumb_nav {
  @include col(2/3 8/10);
  background-color: tomato;
  margin: 0;

  p {
    color: $medium-green;
  }

  .sort_by {
    background-color: white;
    float: left;
  }
}

.nav_results {
  @include col(2/8 8/10);
  display: inline;
  float: right;
  a:link {
    color: $medium-green;
    text-decoration: none;
    padding: 5px;
  }
}

//Styles the sort options above search results
.sort_by {

  display: inline-block;

  select {
    display: inline;
  }
  margin: 0;
  padding: 0;
}


// THIS IS WHERE THE ITEM 'figure' STYLING WILL GO
// AYUMI IS WORKING ON THIS, AND WE'LL PLUG IT IN WHEN I GET THE BACKGROUND CODE STYLED








// THIS IS THE STANDARD BOTTOM OF PAGE WITH UNLABELED NAV LINKS

.bottom_teal {
  @include col(12/12);
  @include center();
  background-color: $dark-teal;
  padding: 40px 0px;
  font-size: 12px;

  ul {
    @include cf();
    text-align: center;
    padding: 0px;

  li:nth-child(odd) {
    @include col(0.95/10 12/12);
    span: (1/5);
    @include shift(1.25/10);
    border-right: solid, 2px, $light-teal;
    color: $light-teal;
  }

  li:nth-child(even) {
    @include col(0.25/10 12/12);
    @include shift(1.25/10);
    color: $light-teal;
  }



  li {
    list-style: none;
    display: inline-block;
    padding: 0px;
    margin: 0px;
  }
 }
}









