.fm_1 {
  @include col(1/3 8/10);
  background-color: white;
  margin: 0;
  color: $medium-green;
  margin-bottom: 40px;
}

.crumb_nav {
  @include col(2/3 8/10);
  background-color: white;
  margin: 0;

  p {
    color: $medium-green;
  }

  .sort_by {
    background-color: white;
    float: left;
    }
}


//This is the styling for the search form on the left column

form {
  label {
    display: block;
    color: $medium-green;
  }
  p {
    color: $medium-green;
  }

  background-color: $light-green;
  margin: 10px;
  padding: 15px;
  border-radius: 25px;

  input [type="radio"] {
    color: $medium-green;
  }
}

//This styles the navigation resultson the right corner

.nav_results {
  display: inline;
  float: right;

  a:link {
    color: $medium-green;
    text-decoration: none;
    padding: 5px;
  }
}

//Styles the sort options above search results

.sort_by {
  display: inline-block;
  // float: left;
  select {
    display: inline;
  }

  margin: 0;
  padding: 0;
}

//Styles the results grid

#itemDisplay {
  @include col (1/4, $cycle:4);     //  THIS SETS THE DIV TO TAKE UP 8 OUT OF TEN COLUMNS
  @include shift (4/8);
  @include cf();
  background-color: #fff;
  color: $medium-green;
  padding: 0;

   img {
    max-width: 150px;
    max-height: 150px;
   }
}

