/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column-width function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * An alias for the column-gutter function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
h1 {
  color: #ABC123; }

<<<<<<< HEAD
.main_body {
=======
h2 {
  font-family: 'Corben', Georgia, Times, serif;
  font-size: 16px;
  color: #8AB93A;
  padding: 0px 0px 0px 10px; }

h3 {
  font-family: 'Helvetica', sans-serif;
  font-style: thin;
  font-size: 16px;
  color: #77CCD2;
  padding: 10px 0px 0px 0px; }

body {
>>>>>>> kmrbranch
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
<<<<<<< HEAD
  position: relative;
  max-width: 1200px; }
  .main_body:before, .main_body:after {
    content: '';
    display: table; }
  .main_body:after {
    clear: both; }
  .main_body:last-child {
    margin-right: 0%; }

.main_body__header {
  background-color: lightblue;
  padding-top: 40px;
  margin-bottom: -18px; }
  .main_body__header .header ul {
    list-style-type: none;
    display: inline;
    padding-left: 900px; }
    .main_body__header .header ul li {
      display: inline-block; }

.content_header__wrapper {
=======
  font-family: Arial;
  background-color: #77CCD2; }
  body:before, body:after {
    content: '';
    display: table; }
  body:after {
    clear: both; }
  body:last-child {
    margin-right: 0%; }

.top_teal {
>>>>>>> kmrbranch
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
<<<<<<< HEAD
  background-color: lightblue; }
  .content_header__wrapper:before, .content_header__wrapper:after {
    content: '';
    display: table; }
  .content_header__wrapper:after {
    clear: both; }
  .content_header__wrapper:last-child {
    margin-right: 0%; }

.content_header {
=======
  background-color: #D6F1F0;
  margin: -10px 0px; }
  .top_teal:before, .top_teal:after {
    content: '';
    display: table; }
  .top_teal:after {
    clear: both; }
  .top_teal:last-child {
    margin-right: 0%; }

ul {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 74.25%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: 12.875%;
  text-align: right; }
  ul:before, ul:after {
    content: '';
    display: table; }
  ul:after {
    clear: both; }
  ul:last-child {
    margin-right: 0%; }

li {
  list-style: none;
  display: inline;
  color: #5FAEB4; }

.top_white {
>>>>>>> kmrbranch
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
<<<<<<< HEAD
  width: 82.8333333333%;
  margin-left: 0%;
  margin-right: 3%;
  background-color: white;
  margin-left: 100px;
  border-radius: 10px 10px 0 0px; }
  .content_header:before, .content_header:after {
    content: '';
    display: table; }
  .content_header:after {
    clear: both; }
  .content_header:last-child {
    margin-right: 0%; }
  .content_header img.logo {
=======
  width: 79.4%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: 10.3%;
  *zoom: 1;
  background-color: #fff;
  border-radius: 50px 50px 0px 0px;
  color: #D6F1F0;
  padding: 0px; }
  .top_white:before, .top_white:after {
    content: '';
    display: table; }
  .top_white:after {
    clear: both; }
  .top_white:last-child {
    margin-right: 0%; }
  .top_white:before, .top_white:after {
    content: '';
    display: table; }
  .top_white:after {
    clear: both; }
  .top_white .tw_1 img {
>>>>>>> kmrbranch
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
<<<<<<< HEAD
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
    margin-top: -50px; }
    .content_header img.logo:before, .content_header img.logo:after {
      content: '';
      display: table; }
    .content_header img.logo:after {
      clear: both; }
    .content_header img.logo:last-child {
      margin-right: 0%; }
  .content_header ul.nav {
=======
    width: 48.1108312343%;
    margin-left: 0%;
    margin-right: 3.7783375315%;
    margin-top: -35px; }
    .top_white .tw_1 img:before, .top_white .tw_1 img:after {
      content: '';
      display: table; }
    .top_white .tw_1 img:after {
      clear: both; }
    .top_white .tw_1 img:last-child {
      margin-right: 0%; }
  .top_white .tw_2 {
>>>>>>> kmrbranch
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
<<<<<<< HEAD
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%; }
    .content_header ul.nav:before, .content_header ul.nav:after {
      content: '';
      display: table; }
    .content_header ul.nav:after {
      clear: both; }
    .content_header ul.nav:last-child {
      margin-right: 0%; }
  .content_header ul.nav li {
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    display: inline-block; }
  .content_header img.tagline {
=======
    width: 48.1108312343%;
    margin-left: 0%;
    margin-right: 3.7783375315%;
    margin: 0px; }
    .top_white .tw_2:before, .top_white .tw_2:after {
      content: '';
      display: table; }
    .top_white .tw_2:after {
      clear: both; }
    .top_white .tw_2:last-child {
      margin-right: 0%; }
    .top_white .tw_2 ul {
      padding: 40px 0px 0px 0px;
      width: 100%; }
    .top_white .tw_2 li {
      *zoom: 1;
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 19.109947644%;
      margin-left: 0%;
      margin-right: 7.8534031414%;
      list-style: none;
      display: inline;
      font-family: 'Helvetica';
      font-weight: lighter;
      font-size: 16px;
      color: #5FAEB4;
      text-align: center;
      border-radius: 50px 50px 50px 50px;
      padding: 1px 6px 1px 6px;
      margin: 0px; }
      .top_white .tw_2 li:before, .top_white .tw_2 li:after {
        content: '';
        display: table; }
      .top_white .tw_2 li:after {
        clear: both; }
      .top_white .tw_2 li:before, .top_white .tw_2 li:after {
        content: '';
        display: table; }
      .top_white .tw_2 li:after {
        clear: both; }
      .top_white .tw_2 li:last-child {
        margin-right: 0%; }
  .top_white li:nth-child(1) {
    background-color: #77CCD1;
    color: #FFF; }
  .top_white li:nth-child(2) {
    background-color: #8AB93A;
    color: #FFF; }
  .top_white li:nth-child(3) {
    background-color: #71288C;
    color: #FFF; }
  .top_white li:nth-child(4) {
    background-color: #EB008A;
    color: #FFF; }
  .top_white .tw_3 {
>>>>>>> kmrbranch
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
<<<<<<< HEAD
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%; }
    .content_header img.tagline:before, .content_header img.tagline:after {
      content: '';
      display: table; }
    .content_header img.tagline:after {
      clear: both; }
    .content_header img.tagline:last-child {
      margin-right: 0%; }

.main_body__nav {
=======
    width: 48.1108312343%;
    margin-left: 0%;
    margin-right: 3.7783375315%; }
    .top_white .tw_3:before, .top_white .tw_3:after {
      content: '';
      display: table; }
    .top_white .tw_3:after {
      clear: both; }
    .top_white .tw_3:last-child {
      margin-right: 0%; }
    .top_white .tw_3 img {
      max-width: 100%;
      padding: 40px 0px 0px 8px; }

.pink_bar {
>>>>>>> kmrbranch
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
<<<<<<< HEAD
  background-color: pink;
  margin: 0; }
  .main_body__nav:before, .main_body__nav:after {
    content: '';
    display: table; }
  .main_body__nav:after {
    clear: both; }
  .main_body__nav:last-child {
    margin-right: 0%; }
  .main_body__nav ul.nav {
    list-style-type: none;
    display: block;
    text-align: center; }
  .main_body__nav li {
    display: inline-block;
    padding: 20px; }

.main_body__footer {
  background-color: teal; }
=======
  *zoom: 1;
  width: auto;
  max-width: 1410px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  background-color: #F5CAD2;
  font-family: 'Corben', Georgia, Times, serif;
  font-size: 12px;
  font-style: thick; }
  .pink_bar:before, .pink_bar:after {
    content: '';
    display: table; }
  .pink_bar:after {
    clear: both; }
  .pink_bar:last-child {
    margin-right: 0%; }
  .pink_bar:before, .pink_bar:after {
    content: '';
    display: table; }
  .pink_bar:after {
    clear: both; }
  .pink_bar ul {
    *zoom: 1;
    text-align: center;
    padding: 3px 0px 0px 0px;
    margin: 2px; }
    .pink_bar ul:before, .pink_bar ul:after {
      content: '';
      display: table; }
    .pink_bar ul:after {
      clear: both; }
    .pink_bar ul li {
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 16.3125%;
      margin-left: 0%;
      margin-right: 3%;
      list-style: none;
      display: inline;
      color: #6E0F47;
      margin: 0px;
      padding: 9px 0px 0px 0px; }
      .pink_bar ul li:before, .pink_bar ul li:after {
        content: '';
        display: table; }
      .pink_bar ul li:after {
        clear: both; }
      .pink_bar ul li:last-child {
        margin-right: 0%; }
      .pink_bar ul li input {
        *zoom: 1;
        float: left;
        clear: none;
        text-align: inherit;
        width: 14.1666666667%;
        margin-left: 0%;
        margin-right: 3%;
        padding: 0px;
        border-radius: 15px;
        margin: 0px 0px 0px 20px;
        width: 100%; }
        .pink_bar ul li input:before, .pink_bar ul li input:after {
          content: '';
          display: table; }
        .pink_bar ul li input:after {
          clear: both; }
        .pink_bar ul li input:last-child {
          margin-right: 0%; }

.bottom_white {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 79.4%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  left: 10.3%;
  background-color: #fff;
  border-radius: 0px 0px 50px 50px;
  padding: 0px 0px 0px 0px; }
  .bottom_white:before, .bottom_white:after {
    content: '';
    display: table; }
  .bottom_white:after {
    clear: both; }
  .bottom_white:last-child {
    margin-right: 0%; }
  .bottom_white .bt_1 {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.1108312343%;
    margin-left: 0%;
    margin-right: 3.7783375315%;
    padding: 15px 0px 0px 0px;
    margin: 0px; }
    .bottom_white .bt_1:before, .bottom_white .bt_1:after {
      content: '';
      display: table; }
    .bottom_white .bt_1:after {
      clear: both; }
    .bottom_white .bt_1:last-child {
      margin-right: 0%; }
    .bottom_white .bt_1 .pic1 {
      margin: 0px;
      float: left;
      padding: 10px, 0px, 0px, 0px; }
    .bottom_white .bt_1 .pic2 {
      margin: 0px;
      padding: 15px 3px 0px 0px;
      width: 100%; }
    .bottom_white .bt_1 .pic3 {
      float: right;
      padding: 100px 0px 75px 20px;
      margin: 0px; }
  .bottom_white .bt_2 {
    *zoom: 1;
    margin: 0px;
    padding: 20px 0px 0px 0px; }
    .bottom_white .bt_2:before, .bottom_white .bt_2:after {
      content: '';
      display: table; }
    .bottom_white .bt_2:after {
      clear: both; }
  .bottom_white .bt_3 {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 3.7783375315%;
    background-image: url("https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/dotted_line_44x9.png");
    background-repeat: repeat-x;
    padding: 20px 0px 40px 0px; }
    .bottom_white .bt_3:before, .bottom_white .bt_3:after {
      content: '';
      display: table; }
    .bottom_white .bt_3:after {
      clear: both; }
    .bottom_white .bt_3:last-child {
      margin-right: 0%; }
    .bottom_white .bt_3 .pic4 {
      *zoom: 1;
      width: auto;
      max-width: 1410px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0;
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 22.1662468514%;
      margin-left: 0%;
      margin-right: 3.7783375315%;
      padding: 0px;
      margin: 0px 13px; }
      .bottom_white .bt_3 .pic4:before, .bottom_white .bt_3 .pic4:after {
        content: '';
        display: table; }
      .bottom_white .bt_3 .pic4:after {
        clear: both; }
      .bottom_white .bt_3 .pic4:before, .bottom_white .bt_3 .pic4:after {
        content: '';
        display: table; }
      .bottom_white .bt_3 .pic4:after {
        clear: both; }
      .bottom_white .bt_3 .pic4:last-child {
        margin-right: 0%; }

.bottom_teal {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  *zoom: 1;
  width: auto;
  max-width: 1410px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  background-color: #77CCD2;
  padding: 40px 0px;
  font-size: 12px; }
  .bottom_teal:before, .bottom_teal:after {
    content: '';
    display: table; }
  .bottom_teal:after {
    clear: both; }
  .bottom_teal:last-child {
    margin-right: 0%; }
  .bottom_teal:before, .bottom_teal:after {
    content: '';
    display: table; }
  .bottom_teal:after {
    clear: both; }
  .bottom_teal ul {
    *zoom: 1;
    text-align: center;
    padding: 0px; }
    .bottom_teal ul:before, .bottom_teal ul:after {
      content: '';
      display: table; }
    .bottom_teal ul:after {
      clear: both; }
    .bottom_teal ul li:nth-child(odd) {
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 6.785%;
      margin-left: 0%;
      margin-right: 3%;
      span: 0.2;
      position: relative;
      left: 12.875%;
      color: #D6F1F0; }
      .bottom_teal ul li:nth-child(odd):before, .bottom_teal ul li:nth-child(odd):after {
        content: '';
        display: table; }
      .bottom_teal ul li:nth-child(odd):after {
        clear: both; }
      .bottom_teal ul li:nth-child(odd):last-child {
        margin-right: 0%; }
    .bottom_teal ul li:nth-child(even) {
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: -0.425%;
      margin-left: 0%;
      margin-right: 3%;
      position: relative;
      left: 12.875%;
      color: #D6F1F0; }
      .bottom_teal ul li:nth-child(even):before, .bottom_teal ul li:nth-child(even):after {
        content: '';
        display: table; }
      .bottom_teal ul li:nth-child(even):after {
        clear: both; }
      .bottom_teal ul li:nth-child(even):last-child {
        margin-right: 0%; }
    .bottom_teal ul li {
      list-style: none;
      display: inline-block;
      padding: 0px;
      margin: 0px; }
>>>>>>> kmrbranch

/*# sourceMappingURL=main.css.map */