// THIS IS THE BOTTOM WHITE SPACE
.bottom_white

  .fm_1
    //Form Area
    div#contact-area
    form(method='post',action='')

      label Limit your search by:
      hr
      input(type='text',name='search',id='search')
      input(type='submit',name='submit',value='Search').submit-button

      label(for='condition') Condition:
      <input id="option" type="radio" name="condition" value="new"> New
      <br>
      <input id="option" type="radio" name="condition" value="used"> Gently Used

      label(for='size') Size:
      <input id="option" type="radio" name="size" value="4"> 4
      <input id="option" type="radio" name="size" value="8"> 8
      <input id="option" type="radio" name="size" value="5"> 5
      <input id="option" type="radio" name="size" value="9"> 9
      <input id="option" type="radio" name="size" value="6"> 6
      <input id="option" type="radio" name="size" value="10"> 10
      <input id="option" type="radio" name="size" value="7"> 7
      <input id="option" type="radio" name="size" value="11"> 11


      label(for='season') Season:
      <input id="option" type="radio" name="season" value="all"> All Seasons
      <br>
      <input id="option" type="radio" name="season" value="spring"> Spring
      <br>
      <input id="option" type="radio" name="season" value="summer"> Summer
      <br>
      <input id="option" type="radio" name="season" value="fall"> Fall
      <br>
      <input id="option" type="radio" name="season" value="winter"> Winter


      label(for='type') Type:
      <input id="option" type="radio" name="type" value="all"> Any
      <br>
      <input id="option" type="radio" name="type" value="one-piece"> One-Piece
      <br>
      <input id="option" type="radio" name="type" value="tops"> Tops
      <br>
      <input id="option" type="radio" name="type" value="bottoms"> Bottoms

      label(for='brand') Brand:
      select
        <option value="Gerbers">Gerbers
        <option value="Tyco">Tyco
        <option value="Baby Co">Baby Co

  .crumb_nav
    p All > Twin > B/G

  .sort-section

    .sort_by
      label Sort by:
        select
          <option value="Price">Price
          <option value="Size">Size
          <option value="Best Match">Best Match

    .nav_results
      a(href='#') prev
      a(href='#') |
      a(href='#') page num
      a(href='#') |
      a(href='#') next
      a(href='#') |
      a(href='#') view all

    #itemDisplay
