// THIS IS THE BOTTOM WHITE SPACE
.bottom_white

  .fm_1
    //Form Area
    div#contact-area
    form(method='post',action='')
      label Limit your search by:
      hr
      input(type='text',name='email',id='email')  
      input(type='submit',name='submit',value='Search').submit-button
      label(for='condition') Condition:
      <input type="radio" name="condition" value="new">New
      <br>
      <input type="radio" name="condition" value="used">Gently Used
      label(for='condition') Size:
      <input type="radio" name="size" value="4"> 4
      <input type="radio" name="size" value="8"> 8
      <br>
      <input type="radio" name="size" value="5"> 5
      <input type="radio" name="size" value="9"> 9
      <br>
      <input type="radio" name="size" value="6"> 6
      <input type="radio" name="size" value="10"> 10
      <br>
      <input type="radio" name="size" value="7"> 7
      <input type="radio" name="size" value="11"> 11
      <br>
      label(for='condition') Season:
      <input type="radio" name="season" value="all" >All Seasons
      <br>
      <input type="radio" name="season" value="spring" >Spring
      <br>
      <input type="radio" name="season" value="summer" >Summer
      <br>
      <input type="radio" name="season" value="fall" >Fall
      <br>
      <input type="radio" name="season" value="winter" >Winter
      <br>
      label(for='condition') Type:
      <input type="radio" name="type" value="all">Any
      <br>
      <input type="radio" name="type" value="one-piece">One-Piece
      <br>
      <input type="radio" name="type" value="tops">Tops
      <br>
      <input type="radio" name="type" value="bottoms">Bottoms
      <br>
      label(for='condition') Brand:
      select
        <option value="Gerbers">Gerbers
        <option value="Tyco">Tyco
        <option value="Baby Co">Baby Co

  .crumb_nav
    p All > Twin > B/G

  .sort-section

    .sort_by
      label Sort by:
        select
          option value="Price"
          option value="Size"
          option value="Best Match"

    .nav_results
      a(href='#') prev
      a(href='#') |
      a(href='#') page num
      a(href='#') |
      a(href='#') next
      a(href='#') |
      a(href='#') view all

    #itemDisplay
      figure
