// TOP TEAL IS THE TOPMOST GREEN SECTION

.top_teal
  ul
    li sign up
    li |
    li sign in

  // THIS IS THE WHITE AREA IN THE TOP HEADING SECTION - WITH THE LOGO -

  .logo_area

    .logo_area_logo_w_owls
      img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/savings-multiplied-logo.png') 

    .logo_area_nav_buttons
      ul
        li
          a About
        li
          a Contact
        li
          a Blog
        li
          a Press

    .logo_area_tagline
      img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/tagline.png')

