// TOP TEAL IS THE TOPMOST GREEN SECTION

.top_teal
  ul
    li sign up  
    li |  
    li sign in

  // THIS IS THE WHITE STUFF AT THE TOP

  .top_white
     
    .tw_1 
       a(href="index.html")
         img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/savings-multiplied-logo.png') 
    .tw_2 
      ul
        li 
          a(href="page2.html")  About
        li 
          a Contact 
        li 
          a Blog
        li 
          a Press

    .tw_3
      img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/tagline.png')

