// THIS IS THE BOTTOM TEAL LINK SPACE THAT GOES ON EVERY PAGE

.bottom_teal
  ul
    li
      a link here
    li |
    li
      a link here
    li |
    li
      a link here
    li |
    li
      a link here
    li |
    li
      a link here
    li |
    li
      a link here

