.pink_bar
  ul
    li
      a(href="page2.html")  Buy
    li
      a Sell
    li
      a How it Works
    li
      a Links
    li
      a Community
    li
      input(type="text", class="pillbox_button", placeholder="Search")

