doctype html
html(lang="en-US")
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="css/main.css")
  link(href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css")

  // TOP ROW IS THE TOPMOST GREEN SECTION

  body
    .top_teal
      ul
        li sign up  
        li |  
        li sign in

      // THIS IS THE WHITE STUFF AT THE TOP
      .top_white
         
        .tw_1 
          img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/savings-multiplied-logo.png') 

        .tw_2 
          ul
            li 
              a About
            li 
              a Contact 
            li 
              a Blog
            li 
              a Press

        .tw_3
          img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/tagline.png')


    // THIS IS THE PINK NAV BAR

    .pink_bar
      ul
        li Buy 
        li Sell  
        li How it Works  
        li Links
        li Community 
        li
          input(type="text", class="pillbox_button", placeholder="Search")


    // THIS IS THE BOTTOM WHITE SPACE

    .bottom_white

      .bt_1
        h2 We're making one aspect of life easier for parents of multiples:

        img(class="pic1", src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/owl_44_44.png")

        h3 buying and selling genty used sets of clothes!       

        img(class="pic2", src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/left_2_shop_now.png")

        img(class="pic3", src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/tree.png")

      .bt_2
        img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/twins.jpg")

        img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/triplets.jpg")
        
        img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/quads.jpg")

      .bt_3    
        img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/facebook_callout.png")

        img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/twitter_callout.png")
        
        img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/message_board_callout.png")

        img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/special_offers_callout.png")        

    // THIS IS THE BOTTOM TEAL SPACE

    .bottom_teal
      ul
        li link here  
        li |  
        li link here
        li |  
        li link here
        li |  
        li link here
        li |  
        li link here
        li |  
        li link here










