doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title My Title
    link(rel="stylesheet" href="css/main.css")

  body
    .main_body
      .main_body__header
        div.header
          ul
            li sign in
            li sign up
        div.content_header__wrapper
          .content_header
            img.logo(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/savings-multiplied-logo.png")
            ul.nav
              li About
              li Contact
              li Blog
              li Press
            img.tagline(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/tagline.png")
      .main_body__nav
        ul.nav
          li Buy
          li Sell
          li How it Works
          li Links
          li Community
          li form.search
      .main_body__footer
        ul
          li link here
          li link here
          li link here
          li link here
          li link here
          li link here
          
          .content__message
          .content__images
          .content__footer
