doctype html
html(lang="en-US")
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="css/main.css")
  link(rel="stylesheet", href="css/store.css")
  link(href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css")

  body
    include partials/pageTop.jade

    // THIS IS THE PINK NAV BAR

    include partials/pinkNav.jade

    // THIS IS THE PRIMARY CONTENT AREA FOR THE HOME PAGE (PAGE 1)

    .bottom_white

      .bt_1
        h2 We're making one aspect of life easier for parents of multiples:

        img(class="pic1", src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/owl_44_44.png")

        h3 Buying and selling gently used sets of clothes!

        img(class="pic2", src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/left_2_shop_now.png")

        img(class="pic3", src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/tree.png")

      .bt_2
        img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/twins.jpg")
        img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/triplets.jpg")
        img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/quads.jpg")

      .bt_3
        img(class="pic4", src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/facebook_callout.png")

        img(class="pic4", src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/twitter_callout.png")

        img(class="pic4", src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/message_board_callout.png")

        img(class="pic4", src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/special_offers_callout.png")        

    // THIS IS THE BOTTOM TEAL SPACE

    include partials/pageBottom.jade

