doctype html
html(lang="en-US")
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="css/main.css")
  link(href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css")

  // TOP ROW IS THE TOPMOST GREEN SECTION

  body
    .top_teal
      ul
        li Sign Up  
        li |  
        li Sign In

      // THIS IS THE WHITE STUFF AT THE TOP
      .top_white
         
        .tw_1 
          img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/savings-multiplied-logo.png') 

        .tw_2 
          ul
            li 
              a About
            li 
              a Contact 
            li 
              a Blog
            li 
              a Press

        .tw_3
          img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/tagline.png')


    // THIS IS THE PINK NAV BAR

    .pink_bar
      ul
        li Buy 
        li Sell  
        li How it Works  
        li Links
        li Community 
        li
          input(type='button', name='Search')

    // THIS IS THE BOTTOM WHITE SPACE

    .bottom_white

