doctype html
html(lang="en-US")
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="css/main.css")

  // Div class top_row is the top section in light teal

  body
    .top_row
      ul
        li Sign Up  
        li |  
        li Sign In

    // This is the white part above the pink nav bar

    .top_white

      .tw_1

      .tw_2
        img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/savings-multiplied-logo.png')

      .tw_3
        ul
          li About 
          li Contact 
          li Blog
          li Press
  
        img(src='https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/tagline.png')

      .tw_4

    // This is the pink nav bar

    .pink_bar
      ul
        li Buy 
        li Sell  
        li How it Works  
        li Links
        li Community 
        li
          input(type='button', name='Search')
