doctype html
html(lang="en-US")
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="css/main.css")
  link(href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css")

  body
    include partials/headerAll.jade

    include partials/pinkNav.jade

    .bottom_white

    include partials/sidebarP2.jade

    .crumb_nav
      p All  Twin  B/G

    .sort_by
      label(for='sort') Sort by:
        select(id='sort')
        option Price

    .nav_results
      a(href='google.com') prev
      a(href='#') |
      a(href='google.com') page num.
      a(href='#') |
      a(href='google.com') next
      a(href='#') |
      a(href='google.com') view all


    include partials/footerAll



